{{!< default}}

<main class="pt-5 d-flex flex-column align-items-center justify-content-center" style="height: 70vh">
  <h1>Lost your way?</h1>
  <p class="fs-4">By the gods old and new, I swear on<br>
to thee. This is not 101 and it's not 303<br>
It is but the cruelest of numbers around<br>
It is 404, the page cannot be found<br>
So, what you can do now?</p>
  <a href="/">Home</a>
</main>